html {
  background-image: url("img/bg.jpg");
  padding: 2px 150px;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: white;
  border: 2px solid #ffd24a;
}

section {
  padding: 20px;
}
 {
  font-family:Helvetica, Arial, sans-serif;
  line-height: 2;
}
#site_header {
  background: #ff8523;
  height: 160px;
  padding-top: 20px;
  padding-left: 30px;
}
#logo {
  margin-top: 15px;
  padding-top: 20px;
}
img {
  margin-bottom: 15px;
  height: 60px;
}
.main_navigation {
  margin-left: 0px;
  margin-top: 20px;
}
.main_navigation a {
  color: white;
  background#ff8523;
  border: 1px solid white;
  padding:10px 35px;
  text-transform: bold;
  text-decoration: none;
  font-size:20px;
  border-radius: 5%;
  margin-left: 0px;
}
h2 {
  color: #1fabe5;
  margin:20px 0px 30px;
  font-size: 2em;
}
p {
  line-height: 200%;
  font-size: 1.1em;
  margin-bottom: 30px;

}
h3 {
  color: #1fabe5;
  margin-bottom: 30px;
  font-size: 2em;
}
a {
  text-decoration: none;
  color: #1fabe5;
}
li {
  font-weight: bold;
  margin: 10px;
  font-size: 1.2em;
}

section > h2 {
  border-top: 5px solid lightgrey ;
  padding-top: 30px;
}
section > h2 >p {
  font-size: 1.2em;
}
table {
   border-collapse: collapse;
   width: 100%;
}
table, td {
    border: 1px solid #1fabe5;
    padding:10px 20px;
    font-size: 1em;
}
table > thead > tr > td {
  background:#1fabe5;
  color: white;
  border: 1px solid #046c97;
}

}


}
section h2 p {
  font-weight: bold;
  margin-top: 20px;
}
.name {
  background-color: #ff8523;
  height: 30px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 6px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
  margin-bottom: 20px;
  color: white;
  font-size: 1.5em;
}
.name > input {
  height: 40px;
  width: 200px;
}
label {
  margin-left: 20px;
}
label.bio {
  padding-bottom: 30px;
}
form {
  background: #dddddd;
  height: 400px;
  border-radius: 6px;
}
form >.name>label {
  margin: 20px;
}
form>.name {
  margin: 20px;
}
.city_container {
  margin-bottom: 30px;
  margin-top: 30px;
}
div > input {
  height: 40px;
}
.submit_container {
  margin-left: 20px;
  height: 20px;
}
#submit_button {
  background: #046c97;
  height: 40px;
  width: 80px;
  color: white;
  margin-top: 10px;
  border: none;
}
textarea {
  margin-left: 20px;
  margin-top: 10px;
  border: 1px solid #1fabe5;
  width: 95%;
}
font info : family - Helvetica, Arial, sans-serif line-height - 1.6 colors : light gray - ##eee gray - #dddddd yellow - #ffd24a orange - #ff8523 blue - #1fabe5 dark blue - #046c97 */
